<!--icon section after slider-->
<!--<section>-->
  <!--<div class="container">
      <div class="row">-->
  <article class="banner-holder" >

    <div class="span2 thumb-pad-bann maxheight" style="
    margin-top:10px;margin-left:120px;height: 140px;">
      <div class="box_inner" style="margin-left: 5px">
        <figure>
          <div>
            <%= link_to image_tag("sec2_icon1.png"), "/blog" %>
          </div>
        </figure>
      </div>
    </div>
    <div class="span2 thumb-pad-bann maxheight" style="
    margin-top:10px;height: 140px;">
      <div class="box_inner">
        <figure>
          <div>
            <%= link_to image_tag('sec2_icon2.png'), "/newsletter" %>
          </div>
        </figure>
      </div>
    </div>
    <div class="span2 thumb-pad-bann maxheight" style="
    margin-top:10px;  height: 140px;">
      <div class="box_inner">
        <figure>
          <div>
            <%= link_to image_tag('sec2_icon3.png'), "/" %>
          </div>
        </figure>
      </div>
    </div>
    <div class="span2 thumb-pad-bann maxheight" style="
    margin-top:10px;height: 140px;">
      <div class="box_inner">
        <figure>
          <div>
            <%= link_to image_tag('sec2_icon4.png'), "/" %>
          </div>
        </figure>
      </div>
    </div>
    <div class="span2 thumb-pad-bann maxheight" style="
    margin-top:10px;height: 140px;">
      <div class="box_inner">
        <figure>
          <div>
            <%= link_to image_tag('sec2_icon5.png'), "/" %>
          </div>
        </figure>
      </div>
    </div>
    <div class="span2 thumb-pad-bann maxheight" style="
    margin-top:10px; height:140px;">

      <div class="box_inner" style="
      margin-right: 5px;">
        <figure>
          <div>
            <%= link_to image_tag('sec2_icon6.png'), "/" %>
          </div>
        </figure>
      </div>

    </div>
  </article>
  <!--</div>
</div> -->
<!--
</section>-->
