<section style="margin-bottom: 10px;">
  <div class="container">
    <div class="row">
      <article class="col-lg-4 col-md-4 col-sm-4">
        <div class="thumb-pad2">
          <div class="thumbnail">
            <figure><%= image_tag "sec7_pic1.jpg", :alt=>"" %></figure>
            <div class="caption">
              <h2>Mission</h2>
              <p>Molestie lacus. Aenean nonummy hendrerit. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.Fusce feugiat malesuada odio.</p>
              <a href="#" class="btn-default btn1"><%= image_tag "more_arr.png", :alt=>"" %> More info</a>
            </div>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-4 col-sm-4">
        <div class="thumb-pad2">
          <div class="thumbnail">
            <figure><%= image_tag "sec7_pic2.jpg", :alt=>"" %></figure>
            <div class="caption">
              <h2>Leadership Principles</h2>
              <p>Molestie lacus. Aenean nonummy hendrerit. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.Fusce feugiat malesuada odio.</p>
              <a href="#" class="btn-default btn1"><%= image_tag "more_arr.png", :alt=>"" %> More info</a>
            </div>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-4 col-sm-4">
        <div class="thumb-pad2">
          <div class="thumbnail">
            <figure><%= image_tag "sec7_pic3.jpg", :alt=>"" %></figure>
            <div class="caption">
              <h2>Peculiar Ways</h2>
              <p>Molestie lacus. Aenean nonummy hendrerit. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.Fusce feugiat malesuada odio.</p>
              <a href="#" class="btn-default btn1"><%= image_tag "more_arr.png", :alt=>"" %> More info</a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>